@model UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}
<div class="spotify-dark-theme">

    <div class="profile-header">
        <img src="@Model.ProfileImageUrl" alt="Profile Picture" class="profile-picture">
        <div class="welcome-message">
            <h2>Welcome, @Model.DisplayName</h2>
            <h3>Discover music you'll love.</h3>
        </div>
    </div>

    <div class="playlist-heading">
        <h3>Your Playlists</h3>
    </div>
    

    <div class="playlist-navigation-container">
        <button class="scroll-arrow left-arrow" onclick="customScrollLeft('playlistScrollContainer')">&#11164;</button><!-- Use HTML entities for arrows -->
        <div id="playlistScrollContainer" class="scroll-container">
            @foreach (var playlist in Model.Playlists.Playlists)
            {
                <div class="playlist-item">
                    <a href="@Url.Action("Playlist", "Spotify", new { playlistId = playlist.Id })">
                        <img src="@playlist.ImageUrl" alt="Playlist Cover">
                    </a>
                    <a href="@Url.Action("Playlist", "Spotify", new { id = playlist.Id })" class="item-text">@playlist.Name</a>
                </div>
            }
        </div>
        <button class="scroll-arrow right-arrow" onclick="scrollRight('playlistScrollContainer')">&#11166;</button> <!-- Use HTML entities for arrows -->
    </div>

    <div class="playlist-heading">
        <h3>Recommended Songs</h3>
    </div>

    <div class="playlist-navigation-container">
        <button class="scroll-arrow left-arrow" onclick="customScrollLeft('recommendedScrollContainer')">&#11164;</button><!-- Use HTML entities for arrows -->
        <div id="recommendedScrollContainer" class="scroll-container">
            @foreach (var recTrack in Model.RecTracks.RecTracks)
            {
                <div class="playlist-item">
                    <a href="@recTrack.TrackUrl" target="_blank">
                        <img src="@recTrack.TrackImage" alt="Track Cover">
                    </a>
                    <a href="@recTrack.TrackUrl" class="item-text" target="_blank">@recTrack.TrackName - @recTrack.ArtistName</a>
                </div>
            }
        </div>
        <button class="scroll-arrow right-arrow" onclick="scrollRight('recommendedScrollContainer')">&#11166;</button> <!-- Use HTML entities for arrows -->
    </div>
</div>
