@model TopArtistsViewModel
<div class="top-artists-page">
    <h1 class="text-center">Top Artists</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Artists.Count; i++)
            {
                var artist = Model.Artists[i];
                <div class="carousel-item transition-background @(i == 0 ? "active" : "")">
                    <div class="topartists-container text-center">
                        <h2>@(i + 1). @artist.Name</h2>
                        <img src="@artist.ImageUrl" alt="@artist.Name">
                        <p class="artist-details">Popularity: @artist.Popularity</p>
                        <p class="artist-details">Genres: @string.Join(", ", artist.Genres)</p>
                        <p class="artist-details">Followers: @artist.Followers</p>
                        <a href="@artist.SpotifyUrl" target="_blank" class="btn btn-primary">Listen on Spotify</a>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <div style="height: 100px;"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(window).on('load', function () {
            initializeCarouselWithRandomBackgrounds();
        });
    </script>
}

